body {
    background-color: #D8F6CE;
    font-family: 'Arial';
}

.flash {padding: 10px;}

.flash.success {
    border: 1px solid #21db56;
    background: #AEFFC5;
}

.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

ul.list-posts {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

ul.list-posts li {
    margin: 20px 0 0;
    border: 1px solid black;
}

ul.list-posts .title {
    margin: 0px;
    padding: 5px;
    background: #00ffff;
}

ul.list-posts .annonce {
    margin: 0;
    padding: 10px 5px 10px 5px;
    background: yellow;
}