<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />   
    {% block title %}
        {% if title %}
            <title>Blog Project- {{ title }}</title>
        {% else %}
            <title>Blog Project</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block content %}
        {% block mainmenu %}
            <ul class="mainmenu">
                {% for p in menu %}
                <li><a href="{{p.url}}">{{p.title}}</a></li>
                {% endfor %}
                </ul>
        {% endblock mainmenu %}
            {% if title -%}
            <h1>{{ title }}</h1>
            {% else -%}
            <h1>Blog Project</h1>
            {% endif %}
    {% endblock %}
    </body>
</html>